@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.download-btn {
  @apply border  text-white rounded-full  p-4 px-8 hover:opacity-80 duration-100;
}
